.input-text{
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid;
}

#city{
    width: 300px;
}

.field{
    display: flex;
}

#search-btn{
    margin-left:50px;
}

